<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>vue todo</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" href="/favicon.ico">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="main">
            <div>
                <div class="todo-form">
                    <input class="input" v-on="keypress: addTodo | key enter" v-model="newTodo" type="text">
                    <button class="add" v-on="click: addTodo">Submit</button>
                </div>
                <ul class="todo-list">
                    <li v-repeat="todos" class="todo" v-class="
                      completed: completed,
                      editing:   editing
                    ">
                        <div>
                            <input type="checkbox" v-model="completed">

                            <label
                                v-show="!editing"
                                v-on="dblclick: editTodo(this)">{{text}}</label>

                            <input
                                class="input"
                                type="text"
                                name="todo"
                                v-show="editing"
                                v-on="
                                    blur: completeEditTodo(this),
                                    keypress: completeEditTodo(this) | key enter
                                ">

                            <button
                                class="destroy"
                                v-on="click: removeTodo(this)">Delete</button>
                        </div>
                    </li>
                </ul>
                <div class="footer">
                    <div class="counter">
                        <ul>
                            <li>Tasks: {{todos.length}}</li>
                            <li>Remain Tasks: {{remaining.length}}</li>
                        </ul>
                    </div>
                    <div class="delete-done">
                        <label>Delete all done todos</label>
                        <button v-on="click: deleteDoneTodo">Delete</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/vue/dist/vue.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js({app,.tmp}) scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
